body,
html {
  font-family: "Roboto", sans-serif;
  background: var(--light) no-repeat center bottom;
}

#nav {
	background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
 	);	
}

#drug-table tbody tr td{
	cursor: pointer;
}
