.header {
  padding: 0 1rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media ($screen-sm) {
    padding: 2.5rem;
  }

  &__logout {
    cursor: pointer;
  }

  .profile {
    display: flex;
    align-items: center;

    &__user {
      color: $color-primary;
      font-family: $font-headings;
      font-weight: 600;
    }
  }
}
