.product-card {
  overflow: hidden;
  position: relative;
  padding-bottom: 5.5rem;

  background-color: $color-foreground;
  box-shadow: 0px 4px 96px -16px rgba(0, 0, 0, 0.1);

  border-radius: 1.5rem;

  &__image {
    background: #fff;
    width: 100%;
    height: 14rem;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom:  1rem;
  }

  &__description {
    color: $color-light-text;
    margin-bottom:  1rem;
  }

  &__price {
    display: block;

    font-family: $font-headings;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-primary;
  }

  &__body {
    padding: 1.25rem 1.5rem;
  }

  &__footer {
    position: absolute;
    bottom: 0;

    padding: 1.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $color-foreground;
    box-shadow: 0px -8px 48px -8px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px .5rem .5rem;
  }

  &__action {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .75rem;
    background-color: #323232;
    color: $color-light-text;
    margin-right: .75rem;
  }
}
