.dashboard {
  &__stats,
  &__chart,
  &__ranking {
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-left: .25rem;
  }
}

.data-cards {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: solid 1px rgba(#fff, .025);

    @media($screen-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 0 1rem .5rem;
  }

  &__label {
    font-size: .75rem;
  }

  &__text {
    color: $color-light-text;
  }

  &__label,
  &__text {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
  }

  &__profile {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .data-cards__cell {
      margin-bottom: 0;
    }
  }
}
