.modal {
  background: rgba(31, 31, 31, .65);

  &::v-deep .vm--modal {
    border-radius: .75rem;
    background-color: $color-background;
    box-shadow: 0px 12px 64px -16px rgba(0, 0, 0, 0.5);
  }

  &__header {
    height: 4.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-background;
    box-shadow: 0px -8px 48px -8px rgba(0, 0, 0, 0.2);

    z-index: 1;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 2rem 2rem 2rem;
  }

  &__body {
    padding: 2rem;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
}
