
.navbar {
  background: $color-background;
  position: fixed;
  top: 0;
  left: -15rem;
  width: 15rem;
  height: 100%;

  padding: 0 2rem;

  @media ($screen-lg) {
    left: 0;
  }

  &--active {
    left: 0;
  }

  &__logo {
    height: 7.5rem;
    display: flex;
    align-items: center;

    img {
      height: 3rem;
    }
  }

  .menu {
    list-style-type: none;

    &__title {
      margin-bottom: 1rem;
    }

    &__item {
      height: 3rem;
      border-radius: .5rem;

      &--active {
        background: $color-gradient;
        padding: 0 1rem;
        margin: 0 -1rem;
        box-shadow: 0px 4px 20px -8px rgba($color-primary, .25);
        font-weight: 600;
      }

      > a {
        text-decoration: none;
        color: $color-light-text;
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;

        &:hover, &:visited {
          color: $color-light-text;
          text-decoration: inherit;
        }

        &:hover {
          opacity: .85;
        }
      }
    }

    &__icon {
      margin-right: 1.25rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
