.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__title {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }

    &__logo {
      margin-bottom: 5rem;
      text-align: center;
      img {
        width: 14rem;
      }
    }

    &__content {
      width: 20rem;
    }

    &__submit {
      text-decoration: none;
      button {
        width: 100%;
      }
    }
  }
